a {
  color: rgb(62, 63, 58);
}

.background-img{
  background-image: url("src/assets/karate1.jpg");
  background-color: #373a3c;
  background-position: center -140px;
  background-repeat: no-repeat;
}

img {
  display: none;
}

@media screen and (min-width: 768px){
  img {
    display: block;
    position: absolute;
    top: 70%;
    width: 500px;
  }
}

@media screen and (max-height: 576px){
  .background-img {
    display: none;
  }
}



