<!--<app-navbar></app-navbar>-->
<!--<app-carousel></app-carousel>-->
<app-img></app-img>
<main id="main" class="container">
    <div class="col-md-8 offset-md-2">
        <app-lead></app-lead>
        <app-table></app-table>
        <p>Mindestteilnehmerzahl sind drei Personen pro Gruppe. Sonst werden Kategorien zusammengelegt.</p>
        <div class="row">
            <app-article class="col-6" id="zeitplan" title="Zeitplan">
                    <a href="../assets/Zeitplan.pdf" class="btn btn-primary">Zeitplan downloaden</a>
            </app-article>
            <app-article class="col-6" id="anmeldung" title="Anmeldung">
                <div class="row">
                    <a href="../assets/Meldeformular.xlsx" class="btn btn-primary">Vorlage downloaden</a>
                    <p>Mit Excel-Liste per Mail an <a href="mailto:info@spardabank-pokal.de">info@spardabank-pokal.de</a></p>
                </div>
            </app-article>
        </div>
    </div>
</main>