.height {
    height: 120px;
}

.logo-img {
    width: auto;
  }
  
  @media screen and (min-width: 992px){
    .logo-img {
        width: 100%;
    }
  }

  .nav-offset {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;      
  }