/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.background-img{
    background-image: url("./assets/slide1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.fill-screen {
    height: 90vh;
}

tr.borderless td, tr.borderless th {
    border-top: none;
}
